@{
    ViewData["Title"] = "Visualizar";
}

<div>
    <div id="viewMode">
        @NoteDown.Markdown.Markdown.ParseHtmlString(ViewBag.Nota.conteudo)
    </div>
    <button id="editButton" class="btn btn-primary" data-nota-id="@ViewBag.Nota.id">Editar</button>

    <div id="editMode" style="display: none;">
        <textarea id="editTextArea" class="form-control" rows="4">@ViewBag.Nota.conteudo</textarea>
        <button id="saveButton" class="btn btn-success">Salvar</button>
        <button id="cancelButton" class="btn btn-secondary">Cancelar</button>
    </div>
</div>

<script src="~/js/editNots.js"></script>
