@{
    ViewData["Title"] = "Home";
}

<markdown normalize-whitespace="true">
    Bem vindo ao site *Note Down*!
</markdown>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Create">Novo</a>
